<%- include("../partials/head.ejs", {
    docTitle: "404 - Page not found | Connect Social Media",
    activeTab: null,
}) %>

  <div class="mt-5 text-center">
    <h1>404: The requested page was not found</h1>
    <h2 class="text-secondary m-3">Make sure you typed in the URL correctly</h2>
    <a href="/">Go back home.</a>
  </div>

<%- include("../partials/foot.ejs") %>
